.carousel-container {
  width: 100%;
  margin: 0 auto;
  margin-top: -7rem;
  margin-left: 5rem;
}

.carousel-item {
  display: flex;
  justify-content: space-evenly;
  padding: 0; /* Smanji padding */
  margin: 0 5px; /* Dodaj manji razmak između slika (leva i desna margina) */
}

.carousel-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
